---
---

:root {
    --adoblue: #1a202c;
}

body {
    font-family: Arial;
    color: var(--adoblue);
    overflow: hidden;
    height: 100vh;
    width: 100%;
    align-content: center;
    background: #1a202c;
}

.page {
    display:flex;
    height:100%;
    width: 1000px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}

.content {
    overflow-y: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 105px;
    padding-bottom: 100px;
}

.sidebar {
    flex: 1 0 20%;
    background: antiquewhite;
    border-right: #333333 1px solid;
    overflow-y: auto;
    padding-right: 5px;
    padding-left: 5px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {
    .page {
        flex-direction: column-reverse;
        width: auto;
        margin: 0;
        padding: 0;
        margin-right: 15px;
    }

    .sidebar {
        overflow: auto;
    }

    .sidebar ul {
        display: flex;
        align-items: center;
        justify-content: normal;
        flex-wrap: wrap;
    }

    .content {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 15px;
    }

    .content::-webkit-scrollbar {
        display: none;
    }
}

article {
    margin-bottom: 50px;
}

h1.chapter_title {
    font-size: 2em;
}

article h1 {
    font-size: 1.7em;
    color: #333333;
}

article h2 {
    font-size: 1.3em;
    color: #444444;
}

article h3 {
    font-size: 1.1em;
    color: #444444;
}

article ul {
    margin-left: 0;
    padding-left: 10px;
    list-style: none;
}

article ul li {
    margin-bottom: 6px;
    padding: 5px;
    text-indent: -15px;
}

article ul.itemlist {
    list-style: square;
    margin-top: 0px;
    padding-top: 0px;
}

article ul.itemlist li {
    margin: 0px;
    margin-left: 10px;
    text-indent: 0px;
}

p.itemlist_prefix {
    margin-bottom: 5px;
    padding-bottom: 0px;
}


article ol {
    width: 80%;
    margin-left: 10px;
    padding-left: 10px;
}

article ol li {
    padding: 5px;
    margin-bottom: 6px;
}

ol.step_list {
    list-style-type: none;
    counter-reset: elementcounter;
    width: 100%;
}

ol.step_list>li:before {
    font-weight: bold;
    content: "Step " counter(elementcounter) ": ";
    counter-increment: elementcounter;
}

article p.example_green {
    background-color: #CBF3F0;
    color: black;
    border-left: solid 4px #2EC4B6;
    margin-left: 5px;
    padding: 20px 20px 20px 10px;
}

article p.example_red {
    background-color: #FFBF69;
    color: black;
    border-left: solid 4px #FF9F1C;
    margin-left: 5px;
    padding: 20px 20px 20px 10px;
}

article p.example_grey {
    background-color: whitesmoke;
    color: black;
    border-left: solid 4px darkgrey;
    margin-left: 5px;
    padding: 20px 20px 20px 10px;
}



h1.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

@media (max-width: 1000px){
    h1.title {
        display: none;
    }
}

ul.vertbar {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.vertbar li {
    background-color: #FFBF69;
    border-left: solid #FF9F1C 4px;
    padding: 5px;
    margin-bottom: 5px;
}

ul.vertbar li a {
    display: block;
    text-decoration: none;
    color: black;
}

ul.vertbar li:hover {
    text-decoration: none;
    background-color: #CBF3F0;
    border-left: solid #2EC4B6 4px;

}

ul.vertbar li.subnav {
    margin-left:10px;
}

@media (max-width: 1000px) {
    ul.vertbar h1 {
        display: none;
    }

    ul.vertbar {
        border-bottom: #333333 1px solid;
        padding: 15px 0px;
    }

    ul.vertbar li {
        margin: 2px;
    }

}
blockquote p {
    font-style: italic;
}

table.roll_table {
    text-align: left;
}

table.roll_table td {
    vertical-align: top;
    padding:5px;
}

table.roll_table th {
    font-size: 1.1em;
    padding: 8px;
    background-color: lightgray;
}


table.roll_table tr:nth-child(even) {
    background-color: lightgray;
}

.two-column-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.action-box {
    margin-bottom: 5px;
    font-size: large;
    flex-basis: 40%;
    margin-right: 10px;
}

.action-box p {
    margin-top: 2px;
    font-size: medium;
}

div.condition-box {
    border: black solid 1px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

div.condition-box h1 {
    margin-bottom: 0;
    font-size: medium;
}

div.condition-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.condition-box ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
}


