
<ul class="vertbar">
    <h1>Chapters</h1>
    {% for chapter in site.chapters %}
        {% assign id_link = chapter.path | split:"/" | last | split:"." | first %}
        <li>
            <a href="#{{id_link}}">{{chapter.title}}</a>
        </li>
    {% if chapter.extra-nav %}

        {% for subnav in chapter.extra-nav %}
        {% capture sub_link %}#{{subnav}}{% endcapture %}
        <li class="subnav">
            <a href="{{sub_link}}">{{subnav}}</a>
        </li>
        {% endfor %}

    {% endif %}
    {% endfor %}
</ul>

<ul class="vertbar">
    <h1>Appendices</h1>

    {% for appendix in site.appendices %}
        {% assign id_link = appendix.path | split:"/" | last | split:"." | first %}
        <li>
            <a href="#{{id_link}}">{{appendix.title}}</a>
        </li>
    {% endfor %}
</ul>
